@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff'),
    url('../fonts/OpenSans-Regular.ttf') format('truetype');
    font-weight: normal;
}

@font-face {
    font-family: 'OpenSans';
    src: url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff'),
    url('../fonts/OpenSans-Bold.ttf') format('truetype');
    font-weight: bold;
}
* {
    font-family: OpenSans, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1, h2, h3 {
    font-weight: bold;
    text-transform: uppercase;
}

/*container==========================*/
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}
/*header=================*/
.header {
    padding: 27px 0 127px;
    width: 100%;
    background-image: url("../images/Rectangle\ 1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #000000;
    position: relative;
    z-index: 1;
}

.header::after {
    content: "";
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: #000000;
    opacity: 0.6;
    z-index: -1;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.noemi-logo {
    width: 180px;
}

/*Nav=====================*/
.menu {
    font-style: normal;
    font-size: 13px;
    text-transform: uppercase;
}
.menu_button {
    display: none;
}
.menu-list {
    display: flex;
}

.menu-list-item {
    list-style-type: none;
}
.menu-link {
    color: #ffffff;
    text-decoration: none;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.menu-link:hover {
    text-decoration: underline;
    opacity: 1;
}

.menu-list-item:nth-child(n+2) {
    margin-left: 35px;
}

/*Title===========================*/

.title {
    /* justify-content: center; */
    margin-top: 102px;
    max-width: 687px;
    margin-left: auto;
    margin-right: auto;
}

.header-title {
    font-size: 45px;
    line-height: 1.6;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
}
/*trends=========================*/
.trends {
    display: flex;
    width: 100%;
}
.trends-header-title {
    font-size: 20px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
}
.trends-header-title::after {
    content:"";
    display: block;
    height: 3px;
    width: 66px;
    text-align: center;
    background-color: #b59f5b;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}

.trend {
    position: relative;
    flex-basis: 25%;
}
.trend:nth-of-type(n+2) {
    width: calc(23%-3px);
    margin-left: 3px;
}
.trends-image {
    position: relative;
    height: 100%;
    z-index: 1;
}
.trend-img {
    background-color: #000000;
    object-fit: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
.trends-image::after {
    content: "";
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
}
.trends-info {
    font-size: 20px;
    padding: 1.5em;
    border: 3px solid #b59f5b;
    position: absolute;
    z-index: 3;
    bottom: 15px;
    margin-right: 20px;
    margin-left: 0.5em;
    width: 90%;
}
.trends-header {
    color: #fff;
}
.trends-title {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 1.2;
}

.first-trends-title {
    max-width: 13em;
}

.trend-header-link {
    text-decoration: none;
    color: inherit;
}

.trend-header-link:hover {
    color: #b59f5b;
}

/*trends-list=================================*/

.trends-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10px;
}

.trends-list-item {
    list-style-type: none;
}

.trends-list-item:nth-child(n+2) {
    margin-left: 18px;
}

.wrapper {
    margin: 60px auto;
    max-width: 1200px;
}
/*posts=======================================================*/
.posts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: 400;
}
/*main=====================================*/
.main {
    width: 785px;
}

.post {
    display: flex;
    align-items: flex-start;
}

.post:nth-child(n+2) {
    margin-top: 55px;
}

.post-image {
    box-sizing: border-box;
}
.post-img {
    background-color: #000000;
    width: 380px;
    height: 289px;
    display: block;
}

.post-info {
    font-size: 15px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-left: 30px;
}
/*tags-list=================================*/

.tags-list {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5px;
}

.tags-list-item {
    list-style-type: none;
}
.tags-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    color: #b59f5b;
    font-weight: 700;
    text-transform: uppercase;
    opacity: 0.75;
    transition: opacity 0.1s linear;
}

.tags-link:hover {
    text-decoration: underline;
    opacity: 1;
}

.tags-list-item:nth-child(n+2) {
    margin-left: 18px;
}

/*post-title===========================*/
.post-header-link {
    text-decoration: none;
}

.post-header-link:hover {
    color: #b59f5b;
}

.post-title {
    font-size: 20px;
    color: #0f0d0e;
    line-height: 1.2;
}

.post-date {
    font-size: 12px;
    padding-top: 28px;
    padding-bottom: 45px;
}

.date {
    font-size: 12px;
    color: #888888;
}
.author {
    color: #000000;
    font-weight: 700;
    margin-left: 10px;
}
.post-content {
    font-size: 15px;
    line-height: 1.6;
    width: 367px;
    color: #0f0d0e;
}
/*new-posts==================================*/
h3 {
    font-size: 14px;
}

.side-header-title::after {
    content:"";
    display: block;
    height: 3px;
    width: 65px;
    text-align: center;
    background-color: #b59f5b;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}
.side-bar {
    width: 270px;
}
.side-header {
    text-align: center;
    margin-bottom: 20px;
}
.new-post {
    display: flex;
}
.new-post:nth-child(n+2){
    margin-top: 15px;
}
.new-post-img {
    width: 70px;
    background-color: #000000;
    margin-top: 1px;
}
.new-post-image {
    box-sizing: border-box;
    margin-right: 17px;
}

.post-header-link {
    color: #000000;
    text-decoration: none;
}
.new-post-inner {
    line-height: 1.2;
}

/*searh-field===============================*/

.search-field {
    margin-top: 55px;
    margin-bottom: 60px;
}

.vissually-hidden {
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute;
}
form {
    display: flex;
}

.search-field-hidden {
    flex: 1;
}
.field {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: none;
    padding: 15px;
    margin: 0;
    outline: none;
    font-size: 13px;
    color: #797a7a;
    background-color: #f4f7f6;
}

.field:focus {
    outline-color: #b59f5b;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -1px;
}

.search-button {
    box-sizing: border-box;
    width: 50px;
    height: 50px;
    background-color: #b59f5b;
    border: none;
}
.search-icon {
    width: 20px;
}

.form-group {
    flex-direction: column;
}
.email-field {
    width: 100%;
    height: 50px;
    box-sizing: border-box;
    border: none;
    padding: 0 20px;
    margin: 0;
    outline: none;
    font-size: 13px;
    color: #797a7a;
    background-color: #f4f7f6;
}

.email-field:focus {
    outline-color: #b59f5b;
    outline-width: 1px;
    outline-style: solid;
    outline-offset: -2px;
}

.subscribe-button {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 60px;
    background-color: #b59f5b;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}
.tags {
    margin-bottom: 60px;
}
.tags-chart {
    height: 100px;
    width: 100%;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
}
.tag-chart-item:first-child {
    margin-left: 0;
}
.tag-chart-link {
    box-sizing: border-box;
    padding: 3px 10px;
    margin-left: 5px;
    text-decoration: none;
    font-size: 12px;
    color: #0f0d0e;
    font-weight: 700;
    text-transform: uppercase;
    border: 3px solid #ededed;
}

.tag-chart-link:hover{
    outline: 3px solid #b59f5b;
    outline-offset: -3px;
}

.topics-list {
    list-style-type: none;
}
.topic-list-item {
    height: 45px;
    border-bottom: 1px solid #ededed;
}
.topic-link {
    text-decoration: none;
    font-size: 14px;
    line-height: 3.3;
    font-weight: 700;
    color: #0f0d0e;
    text-align: center;
}

.topic-link:hover {
    color: #b59f5b;
}

.number {
    font-size: 12px;
    color: #b59f5b;
    font-weight: 700;
    position: absolute;
}

/*shopping==========================================*/
.shop-container {
    max-width: 1170px;
}
.shop {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.shop-header {
    color: #0f0d0e;
    margin: auto;
}
.products {
    display: flex;
    font-size: 15px;
}
.product {
     margin-left: 5em;
     flex-basis: 33%;
     display: flex;
     flex-direction: column;
}
.product:first-child {
    margin-left: 0;
}
.product-image {
    width: 88%;
    margin-bottom: -39px;
    margin-left: auto;
    margin-right: auto;
}

.product-img {
    width: 100%;
    /*height: 200px;*/
}
.product-description {
    font-weight: normal;
    font-size: 15px;
}
.product-description:hover{
    transition: opacity 1 0.1s linear;;
}
.product-description-link{
    text-decoration: none;
    color: #b59f5b;
    transition: opacity 1 0.1s linear;
    padding-left: 5px;
}
.product-description-link:hover {
    text-decoration: underline;
    opacity: 1;
}
.shop-header-title {
    font-size: 20px;
    color: #0f0d0e;
    text-align: center;
    padding-top: 60px;
    padding-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
}
.shop-header-title::after {
    content:"";
    display: block;
    height: 3px;
    width: 66px;
    text-align: center;
    background-color: #e1d9bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7px;
}
.product-title {
    color: #0f0d0e;
    text-transform: uppercase;
    text-align: left;
    font-size: 20px;
}
.product-title-link {
    text-decoration: none;
    color: inherit;
}
.product-body {
    border: 3px solid #d3c59d;
    padding-top: 50px;
    padding-left: 15px;
    padding-right: 20px;
    position: sticky;
    flex-grow: 1;
}
.product-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 21px;
    margin-bottom: 29px;
}
.product-content {
    line-height: 1.45;
}
.product-button {
    width: 140px;
    height: 45px;
    background-color: #b59f5b;
    border: none;
}
.product-button-link {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 550;
}
.product-prices {
    display: flex;
    flex-direction: column;
    font-weight: 700;
    color: #0f0d0e;
}
.product-price-old {
    text-decoration: line-through; 
    font-size: 14px; 
}
.product-price {
    font-size: 20px;
}

/*footer============================================*/
.footer {
    width: 1200px;
    padding: 0 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 60px;
}

.footer-socials {
    box-sizing: border-box;
    display: block;
    background-color: #f4f7f6;
    margin-bottom: 65px;
}

.socials {
    list-style-type: none;
    display: flex;
    width: 240px;
    justify-content: space-around;
    margin-right: auto;
    margin-left: auto;
    padding-top: 35px;
    padding-bottom: 30px;
}

.socials-link {
    display: block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: center;
}
.socials-link__twitter {
    background-image: url("../svg/004-twitter.svg");
}
.socials-link__pinterest {
    background-image: url("../svg/001-pinterest.svg");
}
.socials-link__facebook {
    background-image: url("../svg/002-facebook-logo.svg");
}
.socials-link__instagram {
    background-image: url("../svg/005-instagram.svg");
}
.socials-link__tumblr {
    background-image: url("../svg/003-tumblr.svg");
}

.socials-link-text {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(1px, 1px, 1px, 1px)
}

.copyright-inner {
    width: 100%;
    display: flex;
    justify-content: center;
}
.copyright {
    font-size: 12px;
    line-height: 3.3;
    font-weight: 700;
    }
.copyright-link {
    text-decoration: none;
    color: #999999;
}

/*popup=====================================================*/
.popup_hidden {
    visibility: hidden;
    width: 100%;
    height: 100vh;
    font-family: OpenSans;
    display: flex;
    top: 0;
    left: 0;
    position: fixed;
    z-index: 100;
    background-color: rgba(0, 0, 0, 0.75);
    padding-top: 100px;
    padding-bottom: 100px;
    overflow-y: auto;
    box-sizing: border-box;
}
.popup-container {
    display: none;
    background-color: white;
    position: relative;
    max-width: 400px;
    width: 90%;
    margin: auto;
    padding-top: 30px;
}
.feedback {
    padding: 0 30px;
}
.feedback-header {
    /*font-size: 20px;
    font-weight: 700;
    color: #0f0d0e;
    text-transform: uppercase;*/
    text-align: center;
    padding-bottom: 25px;
    /*margin-left: auto;
    margin-right: auto;*/
}
.feedback-header::after {
    content:"";
    display: block;
    height: 3px;
    width: 65px;
    text-align: center;
    background-color: #e1d9bd;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.feedback-form {
    display: block;
}
.form-group:nth-child(n+2){
    margin-top: 35px;
}
.form-group:last-child {
    margin-top: 20px;
}
.select {
    padding: 15px;
}
.group-label {
    display: block;
    padding-bottom: 10px;
    font-size: 14px;
}
.select {
    display: block;
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    padding-left: 20px;
    margin: 0;
    border: none;
    color: #7f8382;
    font-family: OpenSans;
    font-weight: normal;
    font-size: 14px;
    background-color: #f3f7f6;

    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url(../svg/form-arrows.svg);
    background-repeat: no-repeat;
    background-position: 94% center;
    background-size: 14px;
}
.radio-group-text::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    width: 20px;
    height: 20px;
    background-image: url(../svg/form-empty-circle.svg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 20px;
 }   
.radio:checked ~ .radio-group-text::before {
    background-image: url(../svg/form-circle.svg); 
}
.radio-group {
    display: inline-block;
    font-size: 14px;
}
.radio-group:nth-child(n+2){
    margin-left: 15px;
}
.radio {
    position: absolute;
    clip: rect(1px, 1px, 1px, 1px);
    width: 1px;
    height: 1px;
}
.field-textarea {
    font-size: 14px;
    color: #7f8382;
    background-color: #f3f7f6;
    padding: 10px 20px;
    width: 100%;
    height: 130px;
    border: none;
    resize: none;
}
.send-button {
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    margin-top: 15px;
    margin-bottom: 30px;
    background-color: #b59f5b;
    border: none;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    font-weight: 500;
}
.popup__close {
    width: 1.3em;
    height: 1.3em;
    font-size: 14px;
    position: absolute;
    top: -2em;
    right: 0;
    text-indent: -9999px;
    background-image: url(../svg/form-x.svg);
    fill: #ffffff;
    background-color: transparent;
    border: none;
}
.popup__close::before, .popup__close::after {
    
    width: 1.3em;
    height: 1.3em;
    font-size: 14px;
    position: absolute;
    top: -1.5em;
    right: 0;
}

@media (max-width: 1199px) {
    html {
        font-size: 10px;
    }
    .menu-list {
        display: none;
    }
    .menu_button {
        display: block;
    }
    .menu_button {
        width: 20px;
        height: 20px;
        border: none;
        padding: 0;
        background-color: transparent;
        font-size: 20px;
        position: relative;
        text-indent: -9999px;
        cursor: pointer;
        position: absolute;
        right: 0;
        margin-right: 35px;
        border: none;
        background-color: transparent;
    }
    .menu_button:before {
        top: 0;
    }
    .menu_button:before, .menu_button:after {
        content: "";
        width: 100%;
        height: 15%;
        background-color: #ffffff;
        position: absolute;
        left: 0;
    }
    .menu_button:after {
        bottom: 0;
    }
    .menu_button_label {
        width: 100%;
        height: 15%;
        margin-top: -0.1em;
        background-color: #ffffff;
        position: absolute;
        left: 0;
        top: 50%;
        color: transparent;
    }
    .trends-title {
        font-size: 17px;
        line-height: 1.5;
    }
    .trends-info {
        margin-right: 15px;
        margin-left: 15px;
    }
    .wrapper {
        margin: 45px auto;
    }
    .post-img {
        max-width: 100%;
        width: 370px;
    }
    .post-info {
        margin: 0;
        margin-top: 15px;
        padding: 0;
        max-width: 100%;
    }
    .post-content {
        max-width: 100%;
    }
    .product-img {
        object-fit: cover;
    }
}
@media (min-width: 641px) and (max-width: 1199px) {
    html {
        font-size: 9px;
    }
    .header {
        background-image: url(../images/banner-bg-tablet.jpg);
    }
    .header-title {
        font-size: 40px;
    }
    .trends {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .trend {
        flex-basis: calc(50% - 2px);
        margin-top: 3px; 
    }
    .trend:nth-of-type(odd){
        margin-left: 0;
    }
    .posts {
        padding: 0 4.5%;
        width: 690px;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-between;
    }
    .post {
        display: flex;
        flex-direction: column;
        max-width: 390px;
    }
    .post-info {
        margin-left: 0;
    }
    .post-title {
        font-size: 17px;
    }
    .tag-chart-link {
        padding: 3px 4px;
    }
    .shop {
        max-width: 690px;
        margin: auto;
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin: auto;
    }
    .product {
        flex-basis: 44%;
        margin: 0;
        margin-bottom: 25px;
    }
    .product-footer {
        padding-bottom: 25px;
    }
    .footer {
        max-width: 690px;
        padding: 0;
        margin-right: auto;
        margin-left: auto;
    }
    .footer-socials {
        padding: 0;
    }
}
@media (max-width: 640px) {
    html {
        font-size: 6px;
    }
    .header {
        background-image: url(../images/banner-mobile.jpg);
    }
    .header__inner {
        flex-direction: column-reverse;
    }
    .header-title {
        font-size: 26px;
    }
    .noemi-logo {
        padding-top: 220px;
        width: 270px;
    }
    .title {
        padding: 0 45px 80px;
        margin-top: 40px;
    }
    .wrapper {
        padding-left: 15px;
        padding-right: 15px;
    }
    .trends {
        display: block;
    }
    #trend-inner {
        margin-left: 0;
    }
    .trend:nth-of-type(n+2) {
        margin-top: 3px;
    }
    .main {
        max-width: 100%;
        display: block;
    }
    .posts {
        padding: 0;
    }
    .post {
        flex-direction: column;
    }
    .post-image {
        width: 100%;
    }
    .post-img {
        width: 100%;
    }
    .post-content {
        width: 100%;
    }
    .side-bar {
        margin-top: 50px;
        width: 100%;
    }
    .side-header-title::after {
        margin-bottom: 25px;
    }    
    .new-post-inner {
        line-height: 1.4;
    }
    .tags-chart {
        font-size: 12px;
    }
    .tag-chart-item {
        margin-left: 0;
        margin-bottom: 15px;
    }
    .tag-chart-link {
        padding: 8px 13px; 
    }
    .footer {
        width: 100%;
    }
    .products {
        display: block;
    } 
    .product {
        margin: 0;
        margin-bottom: 25px;
    }
    .popup__close {
        font-size: 18px;
    }
    .popup_hidden {
        padding: 50px 0;
    }
}